.to-new {
  color: #000000;
}
.to-new:hover {
  text-decoration: none;
  color: #007bff;
}

.show-details {
  display: block;
  transition: ease 1s all;
}

.hide-details {
  display: none;
  transition: ease 1s all;
}
